@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply no-underline text-inherit;
  }
}
.custom-arrow::before {
    font-size: 60px !important;
    color: #000000 !important;
    opacity: 1;
  }
  
  .slick-prev {
    left: -55px !important; /* Adjust position */
  }
  
  .slick-next {
    right: -25px !important; /* Adjust position */
  }