@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-arrow::before {
    font-size: 60px;
    color: #000000;
    opacity: 1;
  }
  
  .slick-prev {
    left: -65px;
  }

  .slick-next {
    right: -25px;
  }

  .slick-prev:before {
    content: '◀';
    font-size: 80px;
    color: #000000;
  }

.slick-next:before {
    content: '▶'; 
    font-size: 80px;
    color: #000000;
  }

  .slick-dots li button:before{
    font-size: 15px;
  }

  @media (max-width: 650px) {
    .custom-arrow{
      display: none;
    }
  }